bin/
vd/
obj/
.bin/
.vd/
.obj/
*.suo
*.rsuser
*.sln
*.user
*.userosscache
*.csproj
*.cache
*.props
*.xml
*.bin
*.dll
*.txt
*.v1
*.v2
*.exe
*.suo
*.scc
*.cache
*.json
*.tarjets
*.pdp
*.editorconfig
*.copycomlete
